---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Aaren Arasaratnam">
	<!-- <img class="astro-a" src="background-2.gif" alt="Background Art"> -->
	<main>
		<h1>Some projects I've been working on:</h1>
		<div class="project-wrapper">
			<div>
				<h2>Project 1</h2>
				<p>Some description of project 1</p>
			</div>
			<div>
				<h2>Project 1</h2>
				<p>Some description of project 1</p>
			</div>
			<div>
				<h2>Project 1</h2>
				<p>Some description of project 1</p>
			</div>
			<div>
				<h2>Project 1</h2>
				<p>Some description of project 1</p>
			</div>
		</div>
		<div style="position: relative;">Check 'em out!</div>
		<Card type="king-of-diamonds"/>
	</main>
</Layout>

<style lang="scss">
	main {
		h1 {
			position: relative;
			inset: 6rem auto auto 8rem;
		}
		
		.project-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			position: absolute;
			inset: 10rem auto auto 8rem;

			div {
				width: max-content;
				border: 1px solid red;
				// position: absolute;
			}
		}
	}
</style>
