---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Aaren Arasaratnam">
	<!-- <img class="astro-a" src="background-2.gif" alt="Background Art"> -->
	<main>
		<!-- <h1>Hi! This is a <span class="text-gradient">portfolio </span>site!!</h1>
		<h2>Can you believe it?!?!?</h2>
		<p class="instructions">
			To get started, check out some <code>stuff</code> below, in one of these cards! Or not<br/>
			<strong>Challenge:</strong> Try not to get bored!!!!
		</p> -->
		<Card type="king-of-diamonds"/>
	</main>
</Layout>

<style lang="scss">
	
</style>
