---
import NavLink from './NavLink.astro';
---

<nav>
  <ul role="list">
    <NavLink  
      href="/"
      title="Home"
      body="Landing page."
    />
    <NavLink
      href="/bio"
      title="Bio"
      body="Learn about my life story and how I became the greatest web developer ever."
    />
    <NavLink
      href="/projects"
      title="Projects"
      body="Check out my really cool awesome spectacular projects that I've totally made by myself."
    />
    <NavLink
      href="/hobbies"
      title="Hobbies"
      body="Some things I enjoy doing in my free time."
    />
  </ul>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100vh;
    position: fixed;
    right: 1.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      // list-style: none;
    }
  }
</style>