$primary-color: rgb(31, 28, 34); 
$secondary-color: rgb(239, 231, 253);
$accent-color: rgb(120, 40, 120);
$comp-color: rgb(201, 183, 78); // Complementary
$comp-color-dark: rgb(156, 103, 53); // Complementary
$opp-color: green; // Opposite

$accent-gradient: linear-gradient(45deg, $primary-color, $secondary-color, 60%, $comp-color 40%);

// remove this after implementing styles on Card.astro
:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

*, *::before, *::after {
  // box-sizing: border-box; <-- cuts off bottom of AudioPlayer? why
  margin: 0;
  padding: 0;
}

*:focus-visible { outline: 2px solid $accent-color; }

html { 
  font-family: 'Inter', system-ui, sans-serif;
  scroll-behavior: smooth;
}

// remove this? it's for <code> tags
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

::selection { 
  background-color: $accent-color; 
  color: $primary-color;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background-color: $accent-color; }

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@mixin transition-ease {
  transition: all 0.2s ease-in-out;
}