$primary: rgb(34, 29, 28); 
$secondary: rgb(253, 242, 231);
$accent-1: rgb(133, 89, 66);
$accent-2: rgb(147, 108, 87);
$accent-3: rgb(155, 126, 110);

$accent-gradient: linear-gradient(45deg, $primary, $secondary, 60%, $accent-1 40%);

// remove this after implementing styles on Card.astro


*, *::before, *::after {
  // box-sizing: border-box; <-- cuts off bottom of AudioPlayer? why
  margin: 0;
  padding: 0;
}

*:focus-visible { outline: 2px solid $accent-2; }

html { 
  font-family: 'Courier New', Courier, monospace, system-ui, sans-serif;
  scroll-behavior: smooth;
}

// remove this? it's for <code> tags
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

::selection { 
  background-color: $accent-1; 
  color: $accent-2;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background-color: $accent-1; }

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@mixin transition-ease {
  transition: all 0.2s ease-in-out;
}