---
import Card from '../components/Card.astro';
import ForceDirectedGraph from '../components/ForceDirectedGraph.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio website!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bkgd"></div>
		<ForceDirectedGraph/>
		<nav>
			<ul role="list" class="link-card-grid">
				<Card
					href="/"
					title="Home"
					body="Home sweet home"
				/>
				<Card
					href="/about-me"
					title="About Me"
					body="Learn about my life story and how I became the greatest web developer ever."
				/>
				<Card
					href="/projects"
					title="Projects"
					body="Check out my really cool awesome spectacular projects that I've totally made by myself."
				/>
				<Card
					href="/test-2.html"
					title="Contacts"
					body="Pls contact me, I'm so lonely and dead inside. :("
				/>
			</ul>
		</nav>
		<slot />
		<audio controls loop>
			<source src="audio/cherry-blossom.mp3" type="audio/mpeg">
		</audio>
	</body>
</html>

<style lang="scss">
	@import '../global.scss';
	
	body {
		background: #13151a;

		.bkgd {
			// Consider (repeating-)linear-gradient or (repeating-)radial-gradient?
			background: repeating-conic-gradient($primary-color 30%, $secondary-color 80%);
			background-size: 25px 25px;		
			opacity: 0.01;
			z-index: -1;
			position: fixed;
			inset: 0; 
		}

		audio {
			width: 10vw;
			opacity: 0.1;

			position: absolute;
			bottom: 1rem;
			left: 1rem;
			&::-webkit-media-controls-panel {
				background-color: $primary-color;
				padding: 1em;
				border-radius: 0;
			}

			&::-webkit-media-controls-play-button {
				background-color: $secondary-color;
				// border-radius: 123em;
				margin: 1em;
			}

			// &::-webkit-media-controls-current-time-display {
			// 	color: $secondary-color;
			// }

			&::-webkit-media-controls-time-remaining-display {
				color: $secondary-color;
			}

			&::-webkit-media-controls-timeline {
				border-radius: 40px;
				background-color: $secondary-color;
			}

			&::-webkit-media-controls-volume-slider {
				background-color: $secondary-color;
				border-radius: 50px;
				padding-left: 10px;
				padding-right: 10px;
			}

			&::-webkit-media-controls-mute-button {
				background-color: $secondary-color;
				border-radius: 50%;
			}

			&::-webkit-media-controls-play-button {
				background-color: $secondary-color;
				border-radius: 50%;
			}

			&::-webkit-media-controls-fullscreen-button {
				background-color: $secondary-color;
				border-radius: 50%;
			}

			&::-webkit-media-controls-volume-slider-container {
				background-color: $secondary-color;
				border-radius: 50px;
			}
			
			&::-webkit-media-controls-seek-back-button {
				background-color: $secondary-color;
				border-radius: 50%;
			}

			&::-webkit-media-controls-seek-forward-button {
				background-color: $secondary-color;
				border-radius: 50%;
			}
		}
	}
	nav {
		.link-card-grid {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// gap: 2rem;

			// background: $primary-color;
			padding: 0;
			margin: 0;
		}
	}
</style>
