---
import NavBar from '../components/NavBar.astro';
import ForceDirectedGraph from '../components/ForceDirectedGraph.astro';
import AudioPlayer from '../components/AudioPlayer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!-- TO DO: add all main layout UI buttons on the corners -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio website!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bkgd"></div>
		<ForceDirectedGraph/>
		<NavBar/>
		<slot />
		<AudioPlayer/>
	</body>
</html>

<style lang="scss">
	@import '../global.scss';
	
	body {
		background: $primary;

		.bkgd {
			// Consider (repeating-)linear-gradient or (repeating-)radial-gradient?
			background: repeating-conic-gradient($secondary 50%, $accent-2 90%);
			background-size: 200px 50px;		
			opacity: 0.05;
			z-index: -1;
			position: fixed;
			inset: 0; 
		}
	}
</style>
