---
import Card from '../components/Card.astro';
import ForceDirectedGraph from '../components/ForceDirectedGraph.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio website!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bkgd"></div>
		<ForceDirectedGraph/>
		<nav>
			<ul role="list" class="link-card-grid">
				<Card
					href="/"
					title="Home"
					body="Home sweet home"
				/>
				<Card
					href="/about-me"
					title="About Me"
					body="Learn about my life story and how I became the greatest web developer ever."
				/>
				<Card
					href="/projects"
					title="Projects"
					body="Check out my really cool awesome spectacular projects that I've totally made by myself."
				/>
				<Card
					href="/test-2.html"
					title="Contacts"
					body="Pls contact me, I'm so lonely and dead inside. :("
				/>
			</ul>
		</nav>
		<slot />
	</body>
</html>

<style lang="scss">
	@import '../assets/global.scss';
	
	body {
		background: #13151a;

		.bkgd {
			// Consider (repeating-)linear-gradient or (repeating-)radial-gradient?
			background: repeating-conic-gradient($primary-color 30%, $secondary-color 80%);
			background-size: 25px 25px;		
			opacity: 0.01;
			z-index: -1;
			position: fixed;
			inset: 0; 
		}
	}

	nav {
		.link-card-grid {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// gap: 2rem;

			// background: $primary-color;
			padding: 0;
			margin: 0;
		}
	}
</style>
